.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.home {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  /*background-color: #d4d1d1;*/
}
.select-image {
  padding:50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.select-image .image {
  background-color:white;
  width:40%;
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  flex-wrap:wrap;
  margin-bottom:10px;
  text-overflow: ellipsis;
  padding:0 20px;
  box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133,0.22);
}
.select-image img {
  
}